<!DOCTYPE html>
<html>
<head>
    <title>Luxepc</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <style type="text/css"></style>
</head>
<body cz-shortcut-listen="true">
    <div id="loading">
        <div id="preloader">
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="nav">
        <%= link_to image_tag("logo-lpc.png", :class => "nav-logo"), "/", id: "home" %>
        <form role="search" name="searchform" method="get">
        <div class="search-nav">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" placeholder="Build, composant, login ..." name="s" style="font-style: italic;" class="form-control left-rounded">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-inverse"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
        </form>
        <div class="container-nav-btn">
            <div class="container-nav-btn-left">
                <%= link_to image_tag("build.png", :width => 100, :height => 100, :class => "icon", :alt => "Mon Build"), "nil", id: "nil" %>
                <%= link_to image_tag("loupe.png", :width => 100, :height => 100, :class => "icon", :alt => "Filtre de recherche"), "nil", id: "nil" %>
            </div>
            <div class="container-nav-btn-right">
                <%= link_to image_tag("galerie.png", :width => 100, :height => 100, :class => "icon", :alt => "Ma Galerie"), "nil", id: "nil" %>
                <%= link_to image_tag("user.png", :width => 100, :height => 100, :class => "icon", :alt => "Mon Compte"), "nil", id: "nil" %>
            </div>
        </div>
    </div>
    <%= yield %>

</body>
</html>
