<% include ../layout/header %>
<% include ../layout/nav %>
<div class="flex-box flex-content">
	<script type="text/javascript">
		function distance(lat_a, lon_a, lat_b, lon_b)  {
			a = Math.PI / 180;
			lat1 = lat_a * a;
			lat2 = lat_b * a;
			lon1 = lon_a * a;
			lon2 = lon_b * a;
			t1 = Math.sin(lat1) * Math.sin(lat2);
			t2 = Math.cos(lat1) * Math.cos(lat2);
			t3 = Math.cos(lon1 - lon2);
			t4 = t2 * t3; t5 = t1 + t4;
			rad_dist = Math.atan(-t5/Math.sqrt(-t5 * t5 +1)) + 2 * Math.atan(1);
			return (rad_dist * 3437.74677 * 1.1508) * 1.6093470878864446; }


	</script>
	<form class="" action="/coffee" method="post">
	<div class="nav-filter">
		<h1 class="form-title" style="margin:10px;">Filtre</h1>
			<p style="margin:10px;">Age-min</p>
			<input style="margin:10px;" type="text" id="age-min" placeholder="18"></input>
			<p style="margin:10px;">Age-max</p>
			<input style="margin:10px;" type="text" id="age-max" placeholder="70"></input>
			<p style="margin:10px;">Tag</p>
			<input style="margin:10px;" type="text" name="tag" value="#" placeholder="#"></input>
			<p style="margin:10px;">Popularité-min</p>
			<input style="margin:10px;" type="text" id="pop-min" placeholder="0"></input>
			<p style="margin:10px;">Popularité-max</p>
			<input style="margin:10px;" type="text" id="pop-max" placeholder="5000"></input>
			<button name="search" class="hvr-bounce-to-right icon-text"><i class="fa fa-search" aria-hidden="true"></i>GO</button>
	</div>
	</form>
	<div class="form form-screen">
		<h1 class="form-title">Le Café</h1>
		<div class="content">
			<div class="metadata">
				<div class="text">
					<p>
						Ici tu peux voir les autres membres de matcha. Si tu souhaites engager une conversation, commence par cliquer sur l'icone <i class="fa fa-heart" aria-hidden="true"></i> du membre concerné ... C'est fait ? Il ne reste plus qu'a espèrer qu'on te répondes.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="form form-screen">
		<h1 class="form-title">Filtre</h1>
		<div class="form-filter">
			<a href="/coffee" class="hvr-bounce-in">Normal</a></br>
			<a href="/coffee/all" class="hvr-bounce-in">Tous les membres</a></br>
			<a href="/coffee/sport" class="hvr-bounce-in">Sportif</a></br>
			<a href="/coffee/geek" class="hvr-bounce-in">Geek</a></br>
			<a href="/coffee/bio" class="hvr-bounce-in">Bio</a></br>
			<a href="/coffee/barbu" class="hvr-bounce-in">Barbu</a></br>
			<a href="/coffee/populaire" class="hvr-bounce-in">Populaire</a></br>
		</div>
	</div>
</div>

<div class="flex-box flex-content">
	<% if (me === "all") { %>
		<% if (tag === "populaire") { %>
			<% users.forEach(function(user) { %>
				<% if (user.score >= 5) { %>
					<%- include('user/user_coffee', {user:user, picture:picture, likes:likes, id:id}) %>
				<% } %>
			<% }) %>
		<% } else {%>
			<% users.forEach(function(user) { %>
				<%- include('user/user_coffee', {user:user, picture:picture, likes:likes, id:id}) %>
			<% }) %>
		<% } %>
	<% } else if (tag === "sport"){ %>
		<% users.forEach(function(user) { %>
			<% tags.forEach(function(t) { %>
				<% if (t.user_id === user.id) { %>
					<% if (t.sport === 1) { %>
						<%- include('user/user_coffee', {user:user, picture:picture, likes:likes, id:id}) %>
					<% } %>
				<% } %>
			<% }) %>
		<% }) %>
	<% } else if (tag === "geek"){ %>
		<% users.forEach(function(user) { %>
			<% tags.forEach(function(t) { %>
				<% if (t.user_id === user.id) { %>
					<% if (t.geek === 1) { %>
						<%- include('user/user_coffee', {user:user, picture:picture, likes:likes, id:id}) %>
					<% } %>
				<% } %>
			<% }) %>
		<% }) %>
	<% } else if (tag === "bio"){ %>
		<% users.forEach(function(user) { %>
			<% tags.forEach(function(t) { %>
				<% if (t.user_id === user.id) { %>
					<% if (t.bio === 1) { %>
						<%- include('user/user_coffee', {user:user, picture:picture, likes:likes, id:id}) %>
					<% } %>
				<% } %>
			<% }) %>
		<% }) %>
	<% } else if (tag === "barbu"){ %>
		<% users.forEach(function(user) { %>
			<% tags.forEach(function(t) { %>
				<% if (t.user_id === user.id) { %>
					<% if (t.barbu === 1) { %>
						<%- include('user/user_coffee', {user:user, picture:picture, likes:likes, id:id}) %>
					<% } %>
				<% } %>
			<% }) %>
		<% }) %>
	<% } else { %>
		<% users.forEach(function(user) { %>
			<% if (me.like_sex === "Bisexuel" && (me.sex === user.like_sex || user.like_sex === "Bisexuel")) { %>
				<%- include('user/user_coffee', {user:user, picture:picture, likes:likes, id:id}) %>
			<% } else if (me.like_sex === user.sex && me.sex === user.like_sex) { %>
				<%- include('user/user_coffee', {user:user, picture:picture, likes:likes, id:id}) %>
			<% } %>
		<% }) %>
	<% } %>
</div>

<!-- <script > alert(distance(47.483333333333334, 359.46666666666664, 48.86666666666667, 2.3333333333333335));</script> -->

<% include ../layout/footer %>
