<div>
    <% if current_user %>
        <div class="sign-ok">
            <p class="bonjour">Bonjour <strong><%= current_user.name %></strong> !
            <%= link_to "déconnection", signout_path, id: "sign_out" %></p>
        </div>
    <% else %>
        <div class="login_access">
                <div class="close-sign"><%= link_to image_tag("close.png", :width => 20, :height => 20), "nil", id: "nil" %></div>
                <div class="logo-sign"><%= link_to image_tag("logo-login.png", :width => 110, :height => 110), "nil", id: "nil" %></div>
                <form class="form-signin">
                    <input type="email" id="inputEmail" class="form-control" placeholder="nom d'utilisateur" style="font-style: italic;" required="" autofocus="">
                    <input type="password" id="inputPassword" class="form-control" placeholder="mot de passe" style="font-style: italic;" required="">
                    <button class="btn" type="submit">Connection</button>
                </form>
            <div class="login-connect">
                <%= link_to image_tag("s-enregistrer.png", :width => 180, :height => 38, :class => "s-enregistrer"), "nil", id: "nil" %>
                <%= link_to image_tag("facebook-connect.png", :width => 180, :height => 38, :class => "fb-connect"), "/auth/facebook", id: "sign_in" %>
            </div>
        </div>
    <% end %>
</div>
